@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps');

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.map-container {
    height: calc(100% - 56px);
    width: 100%;
    overflow: hidden;
}

.main-container {
    height: 100%;
    width: 100%;
}

.wiki-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.wiki-page {
    background-color: #F8ECC2;
}

.map-sidebar {
    float: left;
    height: 100%;
    max-width: 100%;
    width: 200px;
    background-color: #F8ECC2;
    overflow-y: scroll;
}

.map-sidebar-menu-item {
    word-wrap: break-word;
    font-size: 15px;
    background-color: inherit;
}

.map-sidebar-icon {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.map {
    height: 100%;
    width: auto;
    background-color: #5F9EA0;
}

.map-text-label {
    white-space: nowrap;
    text-align: center;
    font-size: 20px;
    font-family: 'Bilbo Swash Caps';
    width: 100%;
    cursor: grab;
}

.leaflet-tooltip {
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    position: absolute;
    pointer-events: none;
    border: none;
    background: transparent;
    content: "";
}

.island-wiki-box {
    width: 80%;
    max-width: none;
}

.navbar-item:focus, .navbar-item:active {
    outline: none;
}

.navbar-brand, .navbar-brand:focus, .navbar-brand:active {
    color: #FFFFFF !important;
    outline: none;
}

.navbar-date-time {
    color: rgba(255, 255, 255, 0.5);
    padding: 8px;
}

.news-page {
    background-color: #F8ECC2;
    height: calc(100% - 56px);
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    overflow-y: scroll;
}

.newspaper-body {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 100px;
    white-space: pre-line;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Times New Roman", Times, serif;
}

.newspaper-headline {
    text-align: justify;
}

.newspaper-divider {
    width: 100%;
    color: #FFFFFF;
 }

.newspaper-image {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.newspaper-secondary-headlines {
    margin-top: 20px;
}

.pp-page {
    background-color: #F8ECC2;
    height: calc(100% - 56px);
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: scroll;
}

.resource-name-col:first-letter {
    text-transform:capitalize;
}

.calendar-table-body {
    background-color: #FFFFFF;
}

.calendar-table-cell {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
    border-width: 1px;
    border-style: solid;
    border-color: #adb5bd;
    border-left: none;
}

.calendar-holiday-icon {
    color: #777777;
}

.calendar-table-cell-today {
    background-color: #ffeeba;
}

.calendar-table-cell-weekend {
    background-color: #EEEEEE;
}

.date-info-tooltip {

}