@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps');

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.map-container {
    height: calc(100% - 56px);
    width: 100%;
    overflow: hidden;
}

.main-container {
    height: 100%;
    width: 100%;
}

.wiki-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.wiki-page {
    background-color: #F8ECC2;
}

.map-sidebar {
    float: left;
    height: 100%;
    max-width: 100%;
    width: 200px;
    background-color: #F8ECC2;
    overflow-y: scroll;
}

.map-sidebar-menu-item {
    word-wrap: break-word;
    font-size: 15px;
    background-color: inherit;
}

.map-sidebar-icon {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.map-sidebar-toggle-icon {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    color: #F8ECC2;
}

.map {
    height: 100%;
    width: auto;
    background-color: #5F9EA0;
}

.map-text-label {
    white-space: nowrap;
    text-align: center;
    font-size: 20px;
    font-family: 'Bilbo Swash Caps';
    width: 100%;
    cursor: grab;
}

.leaflet-tooltip {
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    position: absolute;
    pointer-events: none;
    border: none;
    background: transparent;
    content: "";
}

.island-wiki-box {
    width: 80%;
    max-width: none;
}

.navbar-item:focus, .navbar-item:active {
    outline: none;
}

.navbar-brand, .navbar-brand:focus, .navbar-brand:active {
    color: #FFFFFF !important;
    outline: none;
}

.navbar-date-time {
    color: rgba(255, 255, 255, 0.5);
    padding: 8px;
}

.pp-page {
    background-color: #F8ECC2;
    height: calc(100% - 56px);
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: scroll;
}

.capitalise-first-letter:first-letter {
    text-transform: capitalize;
}

.calendar-table-body {
    background-color: #FFFFFF;
}

.calendar-table-cell {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
    border-width: 1px;
    border-style: solid;
    border-color: #adb5bd;
    border-left: none;
}

.calendar-holiday-icon {
    color: #777777;
}

.calendar-table-cell-today {
    background-color: #ffeeba;
}

.calendar-table-cell-weekend {
    background-color: #EEEEEE;
}

.date-info-tooltip {
    background-color: #F8ECC2;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.date-info-tooltip .tooltip-inner {
    background-color: transparent;
    opacity: 8;
    color: #000000;
}

.compass-tooltip {
    width: 500px;
    height: 500px;
    margin: 10px;
    background-color: #F8ECC2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.compass-tooltip .tooltip-inner {
    background-color: transparent;
    opacity: 8;
}

.compass-tooltip .bs-tooltip-auto[x-placement^="top"] span.arrow::before, .bs-tooltip-top .arrow::before {
    visibility: hidden
}

.fill-dots {
    overflow: hidden;
    position: relative;
    margin-right: 5px;
}

.fill-dots:after {
    color: #CCCCCC;
    content: "▆▆▆▆▆▆▆▆▆▆▆▆▆▆▆▆▆";
    position: absolute;
    padding-left: 5px;

}
