html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.map-container, .main-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.map-sidebar {
  float: left;
  height: 100%;
  max-width: 100%;
  width: 200px;
}
.map {
  height: 100%;
  width: auto;
  background-color: #5F9EA0;
}
.map-sidebar-menu-item {
  word-wrap: break-word;
  font-size: 15px;
}
.map-sidebar-icon {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.wiki-sidebar-group {
  padding-top: 10px;
  padding-left: 10px;
}
